<div class="modal" ng-controller="KisBpmUserSelectPopupCtrl">
  <div class="modal-dialog modal-wide">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
        <h2>用户选择</h2>
      </div>
      <div class="modal-body">

        <div class="row row-no-gutter">
          <div class="col-xs-3" style="background: whitesmoke;
          border: 1px solid lightgray;
          border-radius: 5px;
          height: 600px;
          max-height: 600px;
          overflow-y: auto;">
            <abn-tree tree-data="treeData" tree-control="$treeControl" expand-level="2" on-select="selectOrgHandler(branch)"></abn-tree>
          </div>
          <div class="col-xs-9">
            <div class="col-xs-12">
              <div class="form-group col-xs-4 pull-right">
                <div class="input-group">
                  <div class="input-group-addon">搜索</div>
                  <input type="text" class="form-control" ng-model="page.searchKey" placeholder="请输入搜索关键词">
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>序号</th>
                    <th>用户名</th>
                    <th>登录名</th>
                    <th>部门</th>
                    <th>邮箱</th>
                    <th>手机号</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(index, user) in userRecord" ng-click="selectUser(user)" class="{{user.$active ? 'success' : ''}}">
                    <td>{{index + ((page.currentPage - 1) * page.pageSize) +1 }}</td>
                    <td>{{user.realName}}</td>
                    <td>{{user.accountId}}</td>
                    <td>{{user.orgName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.mobile}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-12">
              <nav aria-label="用户筛选页">
                <ul class="pagination">
                  <li ng-class="page.currentPage === 1? 'disabled': ''">
                    <a href="#" aria-label="Previous" ng-click="loadingUser(page.currentPage -1)">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li ng-repeat="n in getArray(page.totalPage)" ng-class="page.currentPage === n ? 'active' : ''">
                    <a href="#" ng-click="loadingUser(n)">
                      {{n}}
                    </a>
                  </li>
                  <li ng-class="page.currentPage === page.totalPage? 'disabled': ''">
                    <a href="#" aria-label="Next" ng-click="loadingUser(page.currentPage + 1)">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
        <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
      </div>
    </div>
  </div>
</div>
