<div class="modal" ng-controller="KisBpmDataSelectPopupCtrl">
  <div class="modal-dialog modal-wide">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
        <h2>数据选择</h2>
      </div>
      <div class="modal-body">

        <div class="row row-no-gutter">
          <div class="col-xs-12">
            <div class="form-group col-xs-4 pull-right">
              <div class="input-group">
                <div class="input-group-addon">搜索</div>
                <input type="text" class="form-control" ng-model="view.datasource.fuzzyQueryVal" placeholder="请输入搜索关键词">
              </div>
            </div>
          </div>
          <div class="col-xs-12" style="overflow-x: auto;">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th style="min-width: 50px;">序号</th>
                  <th ng-repeat="column in view.columns" style="min-width: 150px;">{{column.gridLabel}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(index, data) in dataRecords" ng-click="selectData(data)" ng-class="data.$active ? 'success' : ''">
                  <td>{{index + ((view.datasource.currentPage - 1) * view.datasource.pageSize) +1 }}</td>
                  <td ng-repeat="column in view.columns">
                    <div ng-init="showConfig = showTextConfig(data, column)" 
                      id="{{showConfig.id}}" 
                      data-toggle="{{showConfig.toggle}}">{{showConfig.text}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-12">
            <nav aria-label="用户筛选页">
              <ul class="pagination">
                <li ng-class="view.datasource.currentPage === 1? 'disabled': ''">
                  <a href="#" aria-label="Previous" ng-click="loadingData(view.datasource.currentPage -1)">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li ng-repeat="n in getArray(view.datasource.totalPage)" ng-class="view.datasource.currentPage === n ? 'active' : ''">
                  <a href="#" ng-click="loadingData(n)">
                    {{n}}
                  </a>
                </li>
                <li ng-class="view.datasource.currentPage === view.datasource.totalPage? 'disabled': ''">
                  <a href="#" aria-label="Next" ng-click="loadingData(view.datasource.currentPage + 1)">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div id="popoverContainer"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
        <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
      </div>
    </div>
  </div>
</div>
