@import "~theme/mixins/mixins";
@import "~theme/mixins/utils";
@import "~theme/common/var";
@include b(profile) {
  margin: 0 auto;
  background-color: $--color-white;

  @include e(basic-wrapper) {
    margin-top: 23px;
    padding: 0 24% 20px 0;

    .title {
      margin: 20px 0 40px 0;
      padding-left: 25px;
      font-size: $--font-size-large;

      &:before {
        color: #CE9C4A;
        margin-right: 8px;
      }
    }
  }
  .save {
    margin: 20px auto 0 auto;
    display: block;
  }
}
