@import "~theme/mixins/mixins";
@import "~theme/mixins/utils";
@import "~theme/common/var";
@include b(change-password) {
  padding-bottom: 40px;
  .save {
    margin-left: 20.2%;
  }
  @include e(form-layout) {
    @include utils-clearfix;
    width: 90%;
    margin: 40px auto 0 auto;
  
    @include e(item) {
      // float: left;
      @include utils-clearfix;
  
      width: 50%;
      margin-bottom: 16px;
      font-size: $--font-size-base;
      .label {
        max-width: 35%;
        line-height: 1.3;
        float: right;
        padding: 10px 3% 10px 0;
        &::after {
          content: ":";
        }
        &.required::before {
          content: "*";
          color: $--font-color-error;
          vertical-align: middle;
          margin-right: 3px;
        }
      }
      .value {
        float: right;
        width: 66%;
        line-height: 1.3;
      }
    }
  }
}


