@import "~theme/mixins/mixins";
@import "~theme/mixins/utils";
@import "~theme/common/animate";
@import "~theme/common/var";

.pui-dashboard-main {
  margin-bottom: 20px;
  flex-wrap: wrap;
  &:last-child {
    margin-bottom: 0;
  }
}