@import "~theme/mixins/mixins";
@import "~theme/mixins/utils";
@import "~theme/common/var";
  $--body-bdColor: #E7E7E7;
  $--border-padding: 4%;
  $--list-simple-color: #606266;

@include b(dashboard-list-simple) {
  margin-top: -10px;
  @include e(list) {
    .list-item {
      // border-bottom: 1px dashed #ccc;
      padding: 10px;
      color: $--color-primary;
      box-sizing: border-box;
      @include utils-clearfix;
      &:last-child {
        border-bottom: 0;
      }
      &:nth-child(even) {
        background: #f7f7f7;
      }
    }
    .order-num {
      // display: inline-block;
      float: left;
      width: 30px;
      color: $--list-simple-color;
      line-height: 33px;
    }
    .content {
      display: inline-block;
      vertical-align: middle;
      width: calc( 100% - 30px );
      .title {
        font-size: 16px;
        color: $--list-simple-color;
      }
      .desc {
        color: #aaa;
        font-size: 12px;
        @include utils-ellipsis;
      }
    }
  }
}