@import "~theme/mixins/mixins";
@import "~theme/mixins/utils";
@import "~theme/common/var";
.pui-launch-process{
  background: $--inner-body-bgcolor;
  // padding-left:20px;
  // padding: 15px;
  // & .pui-launch-process__table{
    // margin-top:13px;
  // }
}

/*表格样式*/
.aui-table__header thead th {
  background:#FFF;
  height: 50px;
}
.aui-table th.is-leaf, .aui-table td {
  border-bottom: none;
}
.aui-table tr {
  // box-shadow: inset 0px -1px 0px 0px #E5EBF4, inset 0px 1px 0px 0px #E5E3F4;
  box-shadow:none;
}
.aui-table__header {
  border-top: 1px solid #E5EBF4;
  border-left: none;
  border-right: none;
  border-bottom:  1px solid #E5EBF4;
}
.aui-table__header thead th .cell {
  color: #909399;
  font-weight: bold;
}
.aui-table--striped .aui-table__body tr.aui-table__row--striped td {
  background: #f7f7f7;
}

//分页样式
// .pui-launch-process {
//   .pagination-outer {
//     width: 100%;
//     overflow-x: auto;
//     overflow-y: hidden;
//     margin-top: 30px;
//   }
// }