@import "~theme/mixins/mixins";
@import "~theme/mixins/utils";
@import "~theme/common/animate";
@import "~theme/common/var";

@include b(dashboard-common) {
  margin-bottom: 20px;
  @include e(height) {
    // width: calc(100% - 2px);
    width: 100%;
    height: 5px;
    background-color: #fff;
    // border: 1px solid #E6E6E6;
    border-top: none;
    cursor: s-resize;
  }
}

@include b(dashboard-common-grid) {
  min-height: 45px;
  background-color:#fff;
  // border: 1px solid #E6E6E6;
  overflow: hidden;
  transition: all .3s;
  &.is-edit {
    user-select: none;
    border-bottom: none;
    &.drag,
    &:hover {
      // border-color: $--color-primary;
      // border-style: dashed;
      // border-style: dotted;
      // border: 1px dotted $--color-primary;
      border-bottom: none;
      cursor: move;
      & + .pui-dashboard-common__height {
        // border-color: $--color-primary;
        // border-style: dashed;
        // border: 1px dotted $--color-primary;
        border-top: none;
      }
    }
  }
  @include e(title) {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    border-bottom: 1px solid #e6e6e6; 
    position: relative;
    &:hover {
      .right-btn {
        opacity: 1
      }
    }
    .title {
      font-size: 16px;
      vertical-align: middle;
    }
    .change-width-btn {
      display: inline-block;
      margin-left: 5px;
      font-size: 18px;
      cursor: pointer;
      vertical-align: middle;
      & > .is-disabled {
        color: #ccc;
        cursor: not-allowed;
      }
    }
    .right-btn {
      height: 100%;
      position: absolute;
      right: 10px;
      top: 0;
      font-size: 18px;
      cursor: pointer;
      transition: all .3s linear;
      opacity: 0;
      & > .aui-icon + .aui-icon {
        margin-left: 5px;
      }
      &:hover {
        color: $--color-primary;
      }
    }
  }
  @include e(main) {
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
    .grid-wrapper {
      height: 100%;
    }
  }
}