.parentMenu {
  width:16%;
  margin:5px 10px;
  float:left;
  .parentMenu__menuName {
    font-family: STHeitiSC-Medium;
    font-size: 14px;
    color: #31394A;
    letter-spacing: 0px;
  }
}
.childMenu {
  width:80%;
  margin:5px 10px;
  float:left;
  .childMenu__menuName {
    font-family: STHeitiSC-Medium;
    font-size: 12px;
    color: #707A8E;
  }
  .aui-checkbox-group {
      .aui-checkbox {
        width:25%;
      }
      .aui-checkbox + .aui-checkbox {
        margin-left: 0px;
      }
  }
}
.line{
  display:  inline-block;
  width:  100%;
  border: 0.5px dotted #8A8A8A;
  //height: 1px;
  //background: #C0CADA;
  margin-bottom: 5px;
}